body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;

  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #024199;
  border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input::placeholder {
  color: #00000093 !important;
  /* Set your desired color */
}

.ant-collapse-header-text {
  color: black;
}